@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222;
    font-family: 'Rubik', sans-serif;
    color: white;
}
/* navbar */
.nav-icon {
    color: orangered;
}
.nav-container {
    border-bottom: 5px solid orangered;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    padding: 1rem 0;
}
.navbar h2 {
    font-size: 2rem;
}
/* search-box */
.search-box {
    position: relative;
    width: 350px;
}
.search-box input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid orangered;
}
input:focus {
    box-shadow: 0 0 0 1px orangered;
}
.search-box i {
    color: black;
    position: absolute;
    top: 25%;
    right: 3%;
    transition: 250ms;
}
.search-box i:hover {
    color: orangered;
    transform: scale(1.25);
}
/* image container */
.container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 90%;
    margin: 0 auto;
}
.container::after {
    content: '';
    flex-grow: 99999;
}
.image-holder {
    flex-grow: 1;
    margin: 0.25rem;
}
.image-holder img {
    object-fit: cover;
    min-width: 100%;
    height: 300px;
    border-radius: 0.5rem;
    transition: 500ms;
}
.image-holder img:hover {
    transform: scale(1.025);
    cursor: pointer;
}
/* media queries */
@media(max-width:768px) {
    .image-holder img {
        height: 125px;
    }
    .navbar {
        justify-content: center;
    }
    .navbar h2 {
        padding: 1rem 0;
    }
}
@media(min-width:768px) and (max-width:1024px) {
    .image-holder img {
        height: 200px;
    }
    .navbar {
        justify-content: space-between;
    }
}
/* modal display */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 3rem 3rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
    position: relative;
    width: 90%;
    display: block;
    margin: auto auto;
}
#modal-img {
    max-width: 100%;
}
.close {
    color: orange;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    transition: 250ms;
}
.close:hover, .close:focus {
    color: orangered;
    transform: scale(0.75);
    cursor: pointer;
}
@media(max-width:768px) {
    .close {
        font-size: 0.5rem;
        top: 0.125rem;
        right: 0.125rem;
    }
}
@media(min-width:768px) and (max-width:1024px) {
    .close {
        font-size: 1rem;
        top: 0.125rem;
        right: 0.125rem;
    }
}